@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left_rectangle {
    width: 125px;
    height: 980px;
    background-color: #CDC7C7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_nike {
    margin-top: 34px;
}

.vertical_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.25em;
    text-transform: uppercase;
    color: #000000;
    writing-mode: vertical-lr;
    padding-top: 139px;     
}

.right_rectangle {
    width: 100%;
    height: 980px;
    background: radial-gradient(75.94% 52.71% at 53.28% 102.71%, rgba(0, 0, 0, 0.84) 2.78%, #000000 97.4%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.section {
    display: flex;
}

.list_menu {
    display: flex;
    justify-content: center;
    padding-top: 34px;
}

.list_menu ul {
    width: 570px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list_menu a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.content {
    width: 1475px;
    display: flex;
}

.text_content {
    position: absolute;
    margin-top: 170px;
    margin-left: 240px;
}

.air_big {
    width: 824px;
    height: 155px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 900;
    font-size: 125px;
    line-height: 155px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.air_small {
    width: 511px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 10px;
}

.price {
    width: 95px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-top: 42px;
}

.small_text {
    width: 587px;
    height: 142px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 42px;
}

.add_btn {
    width: 246px;
    height: 79px;
    border-radius: 50px;
    background-color: #CDC7C7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-top: 72px;
}


.d {
    margin-left: 510px;
    margin-top: -25px;
}